body @font-face{
    font-family: 'Love Series DemoRegular';
    src: url(fonts/LoveSeriesDemoRegular.ttf);
  }
#cntr1{
    text-align: center;
    color: gold;
}
ol li{
    color: white;
    font-size: 20px;
}

a{
    text-decoration: none;
}
#ctr4, #ctr5, #ctr6, #ctr7{
   padding: 20px;
   clear: left;
   
}
h2{
    color: white;
    text-align: center;
    padding: 10px;
}
.ctr4_1, .ctr5_1, .ctr6_1{
    width: 31.333333%;
    padding: 20px;
    margin: 3px;
    float: left;
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
     
}

/* .ctr5_1{
    
    width: 31.333333%;
    padding: 20px;
    margin: 5px;
    float: left;
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
      
} */
/* .ctr6_1{
    
    width: 31.333333%;
    padding: 20px;
    margin: 5px;
    float: left;
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
      
} */
.ctr6_1{
    height: 141vh;
}
.ctr5_1{
    height: 127vh;
}
.ctr4_1{
    height: 137vh;
}
.ctr7_1{
    width: 18.666666%;
    padding: 20px;
    margin: 5px;
    float: left;
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
    height: 137vh;
}
#ctr8{
    clear: left;
    padding: 20px;
    margin: 10px;
}