
#image_fix{
    width: 100% !important;
}
#ctr1{
    width: 100%;
    margin: 0;   
}
#ctr3{
    border: 1px solid  #D4e1ec;
    /*border-bottom: 1px solid  #D4e1ec; */
    border-radius: 13px;
    width: 100%;
  /*  padding: 1%;
    margin: 1%; */
    text-align: center;
}
#ctr4{
    border-top: 1px solid  #D4e1ec;
    border-radius: 13px;
  /*  padding: 2%;
    margin: 1.2%; */
    width: 100%;
   /* height: auto; */
}
#ctr5{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    border-radius: 13px;
  /*  padding: 2%;
    margin: 1%; */
    width: 100%;
  /*  height: auto; */
}
.ctr5_1{
  /*  width: 31.333333%; */
    padding: 2%;
    margin: 1%;
  /*  float: left; */
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
}
a{
    text-decoration: none;
    color: blue !important;

}
#read_button_align{
    border: 1px solid #D4e1ec;
    border-radius: 10px;
    margin: auto;
    padding: 1%;
    width: 40%;
    text-align: center;
}
#ctr6{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    border-radius: 13px;
  /*  padding: 2%;
    margin: 1%; */
    width: 100%;
  /*  height: auto;
    clear: both; */
}
.ctr6_1{
  /*  width: 31.333333%; */
    padding: 2%;
    margin: 1%;
  /*  float: left; */
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
}
#ctr7{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    border-radius: 13px;
  /*  padding: 2%;
    margin: 1.2%; */
    width: 100%;
  /*  height: auto;
    clear: both; */
}
.ctr7_1{
  /*  width: 31.333333%; */
    padding: 2%;
    margin: 1%;
  /*  float: left; */
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
}
#ctr8{
    display: flex;
    flex-flow: column nowrap;
  /*  padding: 2%;
    margin: 1.2%; */
    width: 100%;
  /*  height: auto;
    clear: both; */
}
.ctr8_1{
  /*  width: 18%; */
    padding: 2%;
    margin: 1%;
   /* float: left; */
    background-color: transparent;
    border-radius: 13px ;
    border: 1px solid #D4e1ec;
}
#ctr9{
   /* clear: both; */
    padding: 2%;
  /*  margin: 10px; */
    width: 100%;
    border-bottom: 1px solid #D4e1ec;
    border-radius: 13px;
}
@media only screen and ( min-width:300px ) and ( max-width: 768px){
    html{
        font-size: 65%;
    }
    p{
        font-size: 14px !important;
    }
    #ctr5{
        grid-template-columns: 100%;
    }
    #ctr6{
        grid-template-columns: 100%;
    }
    #ctr7{
        grid-template-columns: 100%;
    }
    #ctr8{
        grid-template-columns: 100%;
    }

} 




